/.adiru_devices.aadlbin
/.adiru_errlibrary.aadlbin
/.adiru_memory.aadlbin
/.adiru_processor.aadlbin
/.model.aadlbin
/.partitions.aadlbin
/.shm_datatype.aadlbin
/.subprograms.aadlbin
/.threads.aadlbin
